<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
  </head>

  <body>
    <h1>User Details</h1>

    <table style="width:100%">
      <tr>
        <th>Username</th>
        <th>Email</th>
        
      </tr>
      <tr>
        <td><%= @user.username %></td>
        <td><%= @user.email %></td>
      </tr>
    </table>


<br>
<br>
    <table style="width:100%">
      <h1>Hosted Events!</h1>
      <tr>
        <th>Event ID</th>
        <th>Event Start Date</th>
        <th>Location</th>
      </tr>

        <% @user.created_events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.start_date.strftime("%m / %d / %Y")%></td>
            <td><%= event.location %></td>
          </tr>
        <% end %>
    </table>

    

<br>
<br>

    <table style="width:100%">
      <h1>Previously attended events!</h1>
      <tr>
        <th>Event Date</th>
        <th>Event Name</th>
      </tr>

        <% @prev_events.each do |event| %>
          <tr>
            <td><%= event.start_date.strftime("%m / %d / %Y") %></td>
            <td><%= event.location %></td>
          </tr>
        <% end %>
    </table>

     <table style="width:100%">
      <h1>Upcoming events!</h1>
      <tr>
        <th>Event Date</th>
        <th>Event Name</th>
      </tr>

        <% @upcoming_events.each do |event| %>
          <tr>
            <td><%= event.start_date.strftime("%m / %d / %Y") %></td>
            <td><%= event.location %></td>
          </tr>
        <% end %>
    </table>

  </body>
</html>
