<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
  </head>

  <body>
    <h1>Event Details</h1>

    <table style="width:100%">
      <tr>
        <th>Event ID</th>
        <th>Event Start</th>
        <th>Location</th>
        <th>Creator ID</th>
      </tr>
      <tr>
        <td><%= @event.id %></td>
        <td><%= @event.start_date %></td>
        <td><%= @event.location %></td>
        <td><%= @event.creator_id %></td>

      </tr>
    </table>

<br>
<br>

    <h1>Event Attendees</h1>

    <table style="width:100%">
      <tr>
        <th>User Name</th>
      </tr>
        <% @attendees.each do |attendee| %>
          <tr>
            <td><%= attendee.username %></td>
          </tr>
        <% end %>
    </table>

<br>
<br>

  <%= form_with(url: event_attendings_path, method: "post") do %>

    <%= hidden_field_tag(:event_id, @event.id) %>
    <%= hidden_field_tag(:user_id, session[:user_id]) %>

    <%= submit_tag("Sign Up!") %>
  
  <% end %>


  <h1>Update Event!</h1>

  <%= form_with(model: @event, method: "patch") do %>

  <%= label_tag(:location, "Description:") %>
  <%= text_field(:event, :location) %>

  </br></br>

  <%= label_tag(:start_date, "Start Date:") %>
  <%= date_field(:event, :start_date) %>

  </br></br>

  <%= submit_tag("Update Event!") %>
  
<% end %>

  </body>
</html>
